{% extends 'base.html.twig' %}

{% block title %}Liste des articles{% endblock %}

{% block body %}
<li>
    {% for task in tasks %}
    <ul>
        {{task.title}}
        {{task.content}}
        {{task.expireDate | date('d/m/Y')}}
        {{task.statut}}        
    </ul>


    {% endfor %}    
</li>


{% endblock %}